<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Güney</title>
</head>

<body>
    <div class="ana">
        <nav class="navbar is-fixed-top" role="navigation" aria-label="dropdown navigation">
            <span style="font-size:25px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <a class="subtitle is-4">MpChat</a><a class="subtitle is-6" id=odaName> Güney</a>
            <div id="nick" ></div>
        </nav>
        <div class="columns level-left">

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class="subtitle is-3">Oda Seçimi</a>
                <a href="/genel" id="genel">Genel</a>
                <a href="/kuzey" id="kuzey">Kuzey</a>
                <a href="/guney" id="guney">Güney</a>
                <a href="/halic" id="halic">Haliç</a>
            </div>

        </div>
        <div class="icerik" id="icerik">
            <ul id="messages">
                    <% mesajlar.forEach(function(mesajlar){ %>
                        <% if(nick===mesajlar.KullaniciAd) { %>
                        <li class="Imessage"><span class="is-size-7" style="float: left"><%= mesajlar.eklenmeTarihi %></span>
                            <h6 class="title is-6"><%= mesajlar.KullaniciAd %></h6><%= mesajlar.msg %>
                            <span class="icon has-text-success" style="float: left">
                                <i class="fas fa-check"></i>
                            </span>
                        </li>
                        <div class="clear"></div>
                        <% } else { %>
                        <li>
                            <span class="is-size-7" style="float: right"><%= mesajlar.eklenmeTarihi %></span>
                            <h6 class="title is-6"><%= mesajlar.KullaniciAd %></h6><%= mesajlar.msg %>
                            <span class="icon has-text-success" style="float: right;">
                                <i class="fas fa-check"></i>
                            </span>
                        </li>
                        <% } %>
                    <% }); %>
            </ul>
        </div>

        <div id="footer">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input id="mesaj" class="input is-info" type="text" placeholder="Mesajınızı buraya yazınız..">
                </div>
                <div class="control">
                    <a id="send" class="button is-info">
                        Send
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <script src="guney.js"></script>

</body>

</html>