<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>

<body>
    <form action="/sifreUpdate" method="POST">
        <div class="container" style="margin-top:100px">

            <div class="columns is-gapless is-multiline is-mobile">

                <div class="column" id="SifreEkrani" style="margin-left:10px;margin-right:10px">
                    <h3 class="title is-3">2.Adım: Yeni Şifre</h3>
                    <label class="label">E-mail</label>
                    <input class="input" id="username" name="Email" readonly="" value="<%=Email%>" type="text">
                    <label class="label" name="soru"><%=soru%></label>
                    <input class="input" id="username" name="Cevaps" readonly="" value="<%=Cevap%>" type="text">
                    <label class="label">Yeni Şifre</label>
                    <input class="input" id="username" name="password1" type="password">
                    <label class="label" style="margin-top:15px">Şifre Tekrar</label>
                    <input class="input" id="username" name="password2" type="password">
                    <label class="label has-text-danger"><%=hata%></label>
                    <button type="submit" class="button is-link" style="margin-top:15px">Kaydet</button>
                    <input class="input"  name="soru" readonly="" value="<%=soru%>" style="display:none" type="text">
                </div>
            </div>


        </div>
    </form>


</body>


</html>